.operators{
    padding: 20px;
    grid-area: op;
    border-radius: 10px;
}

.operator-item{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}