.calc-container{
    font-size: 20px;
    font-family: 'Kameron', serif;
    --container-width : 500px;
    --container-height : auto;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: var(--container-width);
    height: var(--container-height);
    left : calc(50vw - var(--container-width)/2);
    top : 30vh ;
    border-radius: 10px;
    background-color: var(--background-main-color);
    z-index: 9999;
}