.button{
    min-width: 50px;
    min-height: 50px;
    background-color: #fff;
    border-radius: 10px;
    margin : 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.button-key-animation{
    background-color: #aaa !important;
}
.button:hover{
    background-color: #aaa;
}