.display{
    padding: 20px;
    display: flex;
    background-color: var(--standar-color);
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    transition: background-color.1s;
}

.input-animation{
    background-color: var(--background-main-color);
}
